/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/



body
{
    background-color: #e5e9ec;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    
}

.circle
{
    width: 1400px;
    height: 1400px;
    background-color:#d3dae0;
    border-radius: 100%;
    position: absolute;
}
.circle_one
{
    top: -699px;
    left:595px;
    z-index: -1;
}
.circle_two
{
    top: 165px;
    left: -910px;
    z-index: -1;
}
.circle_three
{
    top: 1070px;
    left: 910px;
    z-index: -1;
}
.circle_four
{
    top: -1065px;
    left: -1010px;
    z-index: -1;
}
header
{
    position:sticky;
    top: 0;
    z-index: 15;
}
.header
{
    max-width: 1140px;
    background-color:#e5e9ec00;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.bacHeader
{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color:#e5e9ec;
    -webkit-box-shadow: 0px 5px 11px -1px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 11px -1px rgba(34, 60, 80, 0.6);
}
.logo
{
    max-width: 210px;
    min-height:60px ;
}
.phone
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
nav
{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       gap: 40px;
       padding-left: 10px;
       padding-right: 10px;
}
nav a
{
    font-size: 17px;
    font-family: "PNBold";  
    color: #343c3f;
}

/* ------------------------------------mob NAV---------------------------------- */

.header-mob {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background:#343c3f;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
  
}
 .header-mob .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
 .header-mob .burger-container #burger {
  width: 28px;
  height: 14px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
 .header-mob .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
 .header-mob .burger-container #burger .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
 .header-mob .burger-container #burger .bar.btmBar {
  transform: translateY(6px) rotate(0deg);
}
 .header-mob .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  left: 50%;
  transform: translateX(-50%);
}
 .header-mob .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  transform: translateX(0px);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.65s;
}
 .header-mob ul.menu {
  position: relative;
  display: block;
   padding: 0px 0px 0px 48px;
   list-style: none;
}
 .header-mob.menu.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  transform: scale(1.15) translateY(-30px);
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
 .header-mob ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.49s;
}
 .header-mob ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.42s;
}
 .header-mob ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}
 .header-mob ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.28s;
}
 .header-mob ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.21s;
}
 .header-mob ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.14s;
}
 .header-mob ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.07s;
}
 .header-mob a {
  display: block;
  position: relative;
  color: #fff;
  font-family: 'OSBold';
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
 .header-mob.menu-opened {
  height: 100%;
  background-color: #343c3f;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
}
 .header-mob.menu-opened .burger-container {
  transform: rotate(90deg);
}
 .header-mob.menu-opened .burger-container #burger .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.2s;
}
 .header-mob.menu-opened .burger-container #burger .bar.topBar {
  transform: translateY(4px) rotate(45deg);
}
 .header-mob.menu-opened .burger-container #burger .bar.btmBar {
  transform: translateY(3px) rotate(-45deg);
}
 .header-mob.menu-opened ul.menu li.menu-item {
  transform: scale(1) translateY(0px);
  opacity: 1;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.27s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.34s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.41s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.48s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.55s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.62s;
}
 .header-mob.menu-opened ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.69s;
}
 .header-mob.menu-opened .icon.icon-bag {
  transform: translateX(75px);
  transition-delay: 0.3s;
}
 .content {
  font-family: 'OSBold';
  padding: 67px 4% 0;
  text-align: justify;
  overflow: scroll;
  max-height: 100%;
}
 .content::-webkit-scrollbar {
  display: none;
}
 .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
 .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
 .content img:nth-of-type(2) {
  margin: 75px auto;
}


/* ------------------------------------mob NAV END--------------------------------- */
.phone span
{
    font-size: 17px;
    font-family: "PNBold";  
}
.btn 
{
    width: 200px;
    height: 52px;
    padding: 2px 15px 0px 15px;
    background-color:#E4002B;
    border-radius:25px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-family: "PNBold";
    color: #ffff;
}

main
{
    max-width: 1140px;
    margin: 0 auto 80px;
    position: relative;
}
.pumps
{
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    margin-top: 50px;
    text-align: center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.part_sale_slider.mob
{
  display: none;
}
/*  FoRMA start */

.decor {
  position: relative;
  width: 300px;
  height: 400px;
  background: linear-gradient(4deg, rgba(107,106,121,1) 0%, rgba(110,121,131,1) 40%, rgba(211,218,224,1) 100%);
  border-radius: 30px;
}
.decor img
{
  width: 62px;
  height: 122px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  
}
.form-left-decoration, .form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #E4002B;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before, .form-left-decoration:after, .form-right-decoration:before, .form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #939393;
}
.form-left-decoration:before {
  top: -20px;
}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle_form {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 10px 10px;
  width: 300px;
  height: 380px
}
.form-inner input, .form-inner textarea {
  display: block;
  width: 80%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #ffffff;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #E4002B;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}

.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
}
/*  FoRMA end */

.contact_form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
}
.decor h3
{
    
    font-size: 16px;
    font-family: "PNBold";
    color: #ffffff;
    margin-bottom: 5px;
    line-height: 16px;
    max-width: 350px;
    text-align: center;
    text-transform: uppercase;
}
.decor h4
{
    margin-top: 5px;
    font-size: 16px;
    font-family: "PNRegular";
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 600;
    max-width: 300px;
    text-align: center;
    line-height: 16px;
}
input
{
    margin-bottom: 25px;
}
/* кнопка */
.custom-btn {
  width: 180px;
  height: 50px;
  color: #fff;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   -webkit-box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
           box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-11 {
  
  border: none;
  background: #E4002B;
    background: -webkit-gradient(linear, left bottom, left top, from(#e4002aa8), to(#E4002B));
    background: -o-linear-gradient(bottom, #e4002aa8, #E4002B);
    background: linear-gradient(0deg, #e4002aa8, #E4002B);
    color: #fff;
    overflow: hidden;
    border-radius:25px;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3.5s ease-in-out infinite;
    -webkit-animation:shiny-btn1 3.5s ease-in-out infinite ;
}
.btn-11:hover{
  opacity: .7;
}
.btn-11:active{
  -webkit-box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
          box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
@-webkit-keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
@keyframes shiny-btn1 {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
/* кнопка */
.title h1
{
    font-family: "OSBold";  
    font-size: 42px;
    color: #343c3f;
    font-stretch: condensed;
    line-height: 1.13;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    z-index: 10;
}
.pumps_desc p
{
    font-family: "PNRegular";  
    font-size: 24px;
    line-height: 1.17;
    color: #3d4145;
    font-weight: 700;
    max-width: 570px;
}
.pumps_content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    gap: 15px;
    margin-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}
.contact_form
{
    margin-top: 20px;
    width: 250px;
    height: 320px;
    background-color:#aaaaaa;
    border-radius:10px;
}
.pumps_content_box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
    height: 350px;
}
.pumps_content_box img
{
    max-width: 100%;
    max-height: 100%;
   -o-object-fit: contain;
      object-fit: contain;
   margin-top: 13px;
   margin-bottom: 25px;
}
.pumps_content_box h5.pcb_two
{
    font-family: "PNBold";  
    font-size:18px;
    color: #343c3f;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    min-width: 300px;
    position: relative;
}
.pumps_content_box h5.pcb_two::before
{
   content:url('');
   width: 15px;
   height: 15px;
   background-image: url(../images/check-mark.png);
   background-size: contain;
   background-repeat: no-repeat;
   top: 22%;
   left: -20px;
   position: absolute;
}
.cards_field_pumps
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.card_pumps_item
{
    overflow: hidden;
    width: 165px;
    height: 215px;
    background-color:#ffff;
    border-radius:10px;
    padding-top: 30px;
    border: 2px solid #ffff;
    position: relative;
}



.card_pumps_item:hover
{
    border: 2px solid #E4002B;
}

.card_pumps_item::before
{
    position: absolute;
    content:"";
    background: url(../images/hover_middle.png) no-repeat; 
    width: 100%;
    height: 50px;
    top: -25px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.card_pumps_item:hover:before
{
    top: -2px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.card_item_svg
{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    min-height: 100px;
} 
.card_item_title
{
    font-family: "PNRegular"; 
    color: #343c3f;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    max-width:140px ;
    margin: 0 auto;
}
.card_pumps_item {
    color:#343c3f;
}
.card_pumps_item:hover{
    color:#E4002B;
}
.video_field
{
    
    position: relative;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.video_items
{
  padding-top: 75px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  width: 1140px;
  -ms-flex-wrap:  wrap;
          flex-wrap: wrap;
          margin: 0 auto;
}
.video_items iframe
    {
      max-width: 330px;
      border-radius:25px;
    }
.video_item
{
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
.more{
  display: block;
}
.video_item:hover
{
   -webkit-transform: scale(1.1) translateY(-20px);
       -ms-transform: scale(1.1) translateY(-20px);
           transform: scale(1.1) translateY(-20px);
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
}
.video_item span
{
    font-family: "PNBold"; 
    color: #343c3f;
    font-size: 18px;
    font-weight: 900;
    
}
.pumps_video.title h1
{
    text-align: center;
}
.pumps_materials
{
    margin-top: 80px;
    text-align: center;
}
.pumps_materials_tabs
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    position: relative;
}
.material_tab
{
    width: 260px;
    height: 220px;
    background-color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
    border-radius: 15px;
    border: 2px solid #ffffff; 
    cursor: pointer;
}
.tab_img img
{
  -o-object-fit: fill;
     object-fit: fill;
  width: 90px;
  height: 120px;
  display: block;
}
.tab_sesc
{
    font-family: "OSBold";  
    font-size: 18px;
    color: #343c3f;
}
.box_field
{
    position: relative;
    margin-top: 50px;
    min-height: 500px;
}
.box_item
{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 650px;
}
.box_item_content
{
    max-width: 560px;
    padding-right: 10px;
    font-family: "PNRegular";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0.4px;
    color: #343c3f;
}
.box_item_content h3
{
    font-family: "PNRegular";
    font-size: 34px;
    font-weight: 700;
    line-height: 28px;
    color: #343c3f;
}
.box_item_content p
{
    margin-bottom: 20px;
    margin-top: 20px;
}
.calck 
{
    width: 310px;
    background-color: #ffff;
    border: 2px solid #E4002B;
    position: relative;
    padding: 12px 10px;
}
.calck:hover
{
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 1px 15px 12px -7px rgba(81, 201, 48, 0.3);
    box-shadow: 1px 15px 12px -7px rgba(81, 201, 48, 0.3);
}
.btn.calck 
{
    font-family: "OSBold";  
    font-size: 21px;
    color: #343c3f;
    padding-left: 35px;
    padding-bottom: 10px;
}
.calck::before
{
    content:"";
    width: 49px;
    height: 49px;
    position: absolute;
    background-color: #E4002B;
    background-image: url(../images/icons8-plus-25.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    top:-1px;
    left:-1px;
}
.box_item_img
{
    max-width: 570px;
    max-height: 350px;
    margin-left: 180px;
}
.box_item_img img
{
    border-radius: 25px;
  width: 100%;
  height: 350px;
  -o-object-fit: fill;
     object-fit: fill;
}
/* .box_item_img::before
{
    content:"";
    width: 40px;
    height: 40px;
    background-image: url(../images/icons8-zoom-to-extents-64.png);
    background-size: contain;
    position: absolute;
    top: 270px;
    right: 36px;
    z-index: 10;
} */
.down
{
  margin-bottom: 150px;
}
.tab_active
{
    overflow: hidden;
    position: relative;
    border: 2px solid #E4002B; 
    -webkit-transition: 0.5s; 
    -o-transition: 0.5s; 
    transition: 0.5s;
}
.tab_active::before
{
    position: absolute;
    content:"";
    background: url(../images/hover_middle.png) no-repeat; 
    width: 100%;
    height: 50px;
    top: -5px;
    left: 20%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.show
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hide
{
    display: none;
}
.fade

{
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
@-webkit-keyframes fade {
    from {
      top:60px;
      opacity: 0.3;
    }
    to {
        top:5px;
        opacity: 1;
    }
  }
@keyframes fade {
    from {
      top:60px;
      opacity: 0.3;
    }
    to {
        top:5px;
        opacity: 1;
    }
  }
  .parts
  {
    margin-top: 80px;
    text-align: center;
    position: relative;
  }
  .parts_desc p
  {
    margin-top :20px;
    text-align: center;
    font-family: "PNRegular";  
    font-size: 24px;
    line-height: 1.17;
    color: #3d4145;
    font-weight: 600;
  }
  .part_field
  {
    margin-top :30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .part_item
  {
    width: 355px;
    height: 385px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px;
  }
  .part_item_title h3
  {
    font-family: "PNBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #343c3f;
    margin-top: 10px;
  }
  .part_item_img
  {
    width: 350px;
    height: 200px;
    margin-top: 20px;
  }
  .part_item_img img
  {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .part_item_desc p
  {
    font-family: "PNRegular";
    font-size: 15px;
    font-weight: 700;
    line-height: 1.29;
    text-align: center;
    color: #343c3f;
    margin-top: 30px;
    margin-bottom: 5px;
    min-height: 60px;
  }
  .part_item_btn,
  .sales_content.btn
  {
   text-align: center;
   text-transform: lowercase;
   width: 134px;
    height: 45px;
    padding: 11px 5px;
    cursor:default;
    color:#fff;
    font-family: PNRegular;
    font-weight: 600;
  }

  .parts_button
  {
    max-width: 1140px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor:none;
  }
  .parts_button span
  {
    color: #343c3f;
    font-family: "OSBold";
    /* cursor: pointer; */
    font-size: 20px;
    line-height: 2.25;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .parts_button span::after
  {
    content:"";
    background-image: url(../images/border-bottom.png);
    position: absolute;
    top:30px;
    left: 0;
    width: 100%;
    height: 3px;
    background-size:contain;
  }
  .sales_box
  {
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    
  }
  .slider .slick-arrow
  {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 80px;
    height: 90px;
    border: none;
  }
  .slider .slick-arrow.slick-prev
  {
    background: url(../images/left-chevron.png) 0 0 /100% no-repeat;
    left: -5px;
  }
  .slider .slick-arrow.slick-next
  {
    background: url(../images/chevron.png) 0 0 /100% no-repeat;
    right: -5px;
  } 
  .slick-prev:before, .slick-next:before {
    color:transparent;
  }
  .sales_img
  {
      margin-top: 50px;
  }
  .sales_img img
  {
    width: 570px;
    height: 380px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 25px;
  }
  .sales_content
  {
    max-width: 520px;
    margin-top: 50px;
  }
  .sales_content_tab
  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sales_content_title
  {
    text-rendering: optimizeLegibility;
    text-align: left;
    outline: none;
    line-height: 28px;
    color: #3d4145;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: "PNBold";
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 17px;
  }
  .sales_content_desc
  {
    color: #343c3f;
    text-rendering: optimizeLegibility;
    font-family: "PNRegular";
    font-weight: 600;
    text-align: left;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.4px;
    margin-bottom: 17px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  .sales_content_tab .left{
    color: #343c3f;
    text-rendering: optimizeLegibility;
    font-family: "PNRegular";
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: left;
    outline: none;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sales_content_tab
  {
    margin-bottom: 4px;
  }
  .sales_content_tab .right
  {
    color: #343c3f;
    text-rendering: optimizeLegibility;
    font-family: "PNRegular";
    line-height: 1;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-align: center;
    outline: none;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .green
  {
    background-color: #e4002ba3;
    border-radius: 10px ;
    
  }
  .white
  {
    background-color:#ffffffa1;
    border-radius: 10px ;
  }
  .white:hover
  {
    background-color:#343c3f00;
    border-radius: 10px ;
  }
  .right.bold,
  .left.bold
  {
    font-family: "PNBold";
    color: #ffffff;
  }
  /* .sales_content.btn
  {
    min-width: 250px;
    margin-top: 20px;
  } */

  .part_sale_slider_container
  {
    max-width: 1140px;
    margin: 0 auto 50px;
    position:relative;
  }
  .slider_wrapper_parts
  {
    max-width: 1140px;
    margin-top: 50px;
  }
  .card_pumps_item.slider
  {
    width: 270px;
    height: 270px;
    padding: 0;
  }
  .card_pumps_item.slider img
  {
    border-radius:0;
    height: 100%;
  }
  .card_pumps_item.slider::before
  {
    height: 100px;
    left: 20%;
    
  }
  .parts_slider_item
  {
    text-align: center;

  }
  .parts_slider_item h3
  {
    color: #343c3f;
    line-height: 1;
    font-family: "OSBold";
    font-size: 20px;
    padding: 0 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    max-width: 260px;
  }
  .slider.multiple-items .slick-arrow
  {
    top: 45%;
  }
  .slider.multiple-items .slick-arrow.slick-prev
  {
    background: url(../images/left-chevron.png) 0 0 /100% no-repeat;
    left: -70px;
  }
  .slider.multiple-items .slick-arrow.slick-next
  {
    background: url(../images/chevron.png) 0 0 /100% no-repeat;
    right: -55px;
  }
  footer
  {
    
    
    background-color:#d3dae0;
    min-height: 220px;
    
  }
  .footer_iner
{
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-between;
}
 
  .address,
  .mail,
  .phone,
  .footer_desc
  {
    text-rendering: optimizeLegibility;
    font-family: "PNRegular";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: 1px;
    max-width: 340px;
    margin-top: 10px;
  }

  /*modal-----------------------------------------------------------*/
  .open
  {
    display: flex;
  }
  .close 
  {
    display: none;
  }
  .modal_wrapper
  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:#343c3f2b;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items:center;
  }
  .decor.modal
  {
    width: 400px;
    height: 450px;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.2);
   
  }
  .form-inner.modal
  {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    align-items: center;
  }
  .decor.modal .modal_close img
  {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
  .decor.modal img
  {
    width: 100px;
    height: 132px;
    margin-bottom: 2px;
  }
  .form-inner.modal h3
  {
    font-size: 24px;
    line-height: 24px;
  }
  .form-inner.modal h4
  {
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 20px;
  }
  .btn-11.modal
  {
    margin-top: 10px;
    border-radius: 25px;
    width: 240px;
    height: 50px;
   
  }
  /*----------------------------------------------------------------*/
    /*----------------------modal ok------------------------------------------*/


  .blur{
    display: none;
  }
  .modal_ok
  {
    
    max-width: 1070px;
    height: 650px;
    border-radius: 25px;
    position: relative;
    margin: 50px auto;
    padding: 5px;
    -webkit-box-shadow: 2px 8px 40px 8px rgba(71, 71, 71);
    -moz-box-shadow: 2px 8px 40px 8px rgba(71, 71, 71);
    box-shadow: 2px 8px 40px 8px rgba(71, 71, 71);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    box-sizing: border-box;
   
    
  }
  .border
  {
    height: 640px;
    border:2px solid #a3a3a3;;
    border-radius:25px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
    background-color: #ffffff;
  }

  .modal_ok img
  {
    margin-top: 15px;
    width: 220px;
    height: 220px;
    object-fit: contain;
    z-index: 1;
  }

  .modal_ok_title 
  {
    position: relative;
    padding-top: 30px;
  }

  .modal_ok_title h1
  {

    
    
    font-family: "PNBold";  
    font-size: 38px;
    color: #343c3f;
    font-stretch: condensed;
    line-height: 1.13;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    z-index: 110;
    text-align: center;
    
    
   
  }
  .modal_ok_desc
  {
    margin-top: 15px;
    font-family: "PNRegular";  
    font-size: 22px;
    color: #343c3f;
    font-stretch: condensed;
    line-height: 1.13;
    letter-spacing: 0.4px;
   
    z-index: 110;
    text-align: center;
  }
  .modal_ok_desc2 
  
  {
    margin-top: 20px;
  
  }
  .modal_ok_desc2 a 
  
  {
    
    font-family: "PNRegular"; 
    cursor:pointer;
    color: #e4032d;
    font-weight: 600;
    font-size: 25px;
    transition: 0.5s;
  }
  .modal_ok_desc2 a:hover
  {
    cursor:pointer;
    color: #343c3f;
    font-weight: 600;
    font-size: 25px;
    text-decoration: underline;
    transition: 0.5s;
   
  }
  .blur
  {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:#dadada83;
    overflow-y: scroll;
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items:center;
    backdrop-filter: blur(5px);
  }
  /*аниимация скидки*/
  .p {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    display: inline-block;
    border: 4px double rgba(255, 255, 255, .25);
    border-width: 4px 0;
    text-align: center;
    width: 450px;
 }
  .p span {
    font: 700 38px "OPRegular", sans-serif;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
   /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
   /* Animate Background Image */
    -webkit-text-fill-color: #e8161687;
    -webkit-animation: aitf 80s linear infinite;
   /* Activate hardware acceleration for smoother animations */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
 }
 /* Animate Background Image */
  @-webkit-keyframes aitf {
    0% {
      background-position: 0% 50%;
   }
    100% {
      background-position: 100% 50%;
   }
 }
  /*------------------*/
  .line
  {
    
    
    opacity: 0.7;
    

  }
  
  .line img
  {
   
    object-fit: cover;
    width: 130px;
    height: 130px;
    
    
  }

  






















      /*----------------------------------------------------------------*/
  @media(max-width:1600px)
  {
    .circle
    {
      width: 850px;
      height: 850px;
    }
    .circle_one
    {
      top: -410px;
      left: 595px;
    }
    .circle_two
    {
      top: 165px;
      left: -597px;
    }
    .circle_four
    {
      top: -265px;
      left: -597px;
    }
  }

  /*-------------------------------------------------------------------*/
  @media(max-width:1150px)
  {
    header
    {
      display: none;
    }
    .circle
    {
      width: 550px;
      height: 550px;
    }
    .cards_field_pumps
    {
      max-width:800px ;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin: 0 auto;
    }
    .pumps{
      margin-top: 80px;
    }
    .card_pumps_item
    {
      width: 270px;
      height: 320px;
      margin-bottom: 15px;
    }
    .card_pumps_item::before
    {
      left: 21%;
    }
    .card_item_svg
    {
      margin: 34px auto;
    }
    .video_field
    {
      padding: 0 20px 0;
      max-width: 800px;
      margin: 20px  auto 0;
    }
    .video_items
    {
      -ms-flex-wrap:  wrap;
          flex-wrap: wrap;
      max-width: 760px;
    }
    .pumps_materials_tabs
    {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          padding: 0 10px 0;
    }
    .material_tab
    {
      margin-bottom: 10px;
    }
  }
  @media(max-width:790px)
  {
    .header
    {
      display: none;
    }
    .title h1
    {
      font-size: 30px;
    }
    
    .pumps_content
    {
      padding: 0 20px 0;
      align-items:center;
    }
    .pumps_content_img
    {
      display: none;
    }
    .pumps_content_box
    {
      display: none;
    }
    .circle
    {
      width: 550px;
      height: 550px;
    }
    .circle_one
    {
    top:0;
    right:0 ;
    }
    .circle_two
    {
      top:0 ;
      right: 0;
    }
    .circle_three
    {
      top: 0;
      right: 0;
    }
    .circle_four
    {
      top:0 ;
      right:0 ;
    }
    .video_items
    {
      max-width: 330px;
      
      
      
      gap: 50px;
    }

    .video_items iframe
    {
      max-width: 330px;
      border-radius:25px;
    }
    .cards_field_pumps
    {
      max-width:600px ;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin: 0 auto;
          padding: 0 20px 0;
    }

  .blur
  {
    padding-left: 15px;
    padding-right: 15px;
  }
    .modal_ok
  {
    height: 550px;
  }
  .border{
    height: 540px;
    padding: 15px;
  }
  .modal_ok img {
    margin-top: 10px;
    width: 180px;
    height: 180px;
    object-fit: contain;
    z-index: 1;
}


.modal_ok_title {
   
    padding-top: 21px;
}
.modal_ok_title h1 {
  font-size: 28px;
}
.modal_ok_desc {
  margin-top: 10px;
  font-size: 20px;
}
.modal_ok_desc2 {
  text-align: center;
}

.modal_ok_desc2 a {
    
    font-size: 24px;
    
}
.modal_ok_desc2 a:hover {
    
  font-size: 19px;
  

}
.p span
{
  font-size: 25px;
}
.line {
  
  
    width: 130px;
    height: 130px;
  
  opacity: 0.7;
 
}
.line img {
  
width: 100%;
height: 100%;
object-fit: cover;
 
}


  }
  /*-------------------------------------------------------------------------------------*/
  @media (max-width: 600px) {
	 
	  .header-mob {
      display: block;
		 position: fixed;
     max-height: 900px;
     top: 0;
     left: 0;
     z-index: 100;
	  }
}
  @media(max-width:590px)
  {

    .header-mob .icon
    {
      width: 168px;
      height: 50px;
    }
    .icon img
    {
      object-fit: cover;
      width: 100%;
      height: 100%;
      
    }

    .title h1
    {
      font-size: 24px;
      padding: 0 10px;
    }
    .cards_field_pumps
    {
      display: none;
    }
    .slider_wrapper_parts
    {
      max-width: 270px;
      margin: 50px auto 0;
    }
    .part_sale_slider.mob
    {
      max-width: 350px;
      margin: 0 auto;
    display: block;
    }
    .slick-slide
    {
      margin-left: 5px;
      margin-right: 5px;
      width: 275px;
    }
    
    .card_pumps_item
    {
      border: 2px solid #E4002B;
    }
    .slider.multiple-items .slick-arrow.slick-next
    {
      
      right: -68px;
    } 
    .circle
    {
      width: 350px;
      height: 350px;
    }
    .circle_one,
    .circle_two,
    .circle_three,
    .circle_four
    {
      display: none;
    }
    .header
    {
      display: none;
    }
    .pumps_content
    
    {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .box_field
    {
      margin-top: 5px;
    }
    .video_field_row
    {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align:center;
          -ms-flex-align:center;
              align-items:center;
    }
    
    
  
    .pumps_materials_tabs
    {
      max-width: 350px;
      margin: 20px auto 1px;
    }
    .material_tab
    {
      width: 155px;
      height: 90px;
    }
    .tab_img
    {
      display: none;
    }
    .tab_sesc
    {
      font-size: 14px ;
      text-align: center;
    }
    .tab_active::before
    {
      top: -12px;
      left: -2%;
    }
    .box_item
    {
      -webkit-box-orient:vertical;
      -webkit-box-direction:reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;


    }
    .box_item_img
    {
      margin:0 auto;
      width: 170px;
      max-height: 220px;
        

    }
    .box_item_img img
    {
        width: 100%;
        height: 100%;
        -o-object-fit: fill;
        object-fit: fill;
    }
    .box_item_content
    {
      min-height: 980px;
      padding: 0 20px 0;
      margin-bottom: 20px;
    }
    .box_item_content h3
    {
      margin-top: 10px;
      font-size: 26px;
      text-align: center;
    }
    .box_item_content p
    {
      line-height: 1.3em;
      font-size: 16px;
      
      text-align: center;
    }
    .calck 
    {
      margin: 0 auto;
    }

    .parts
    {
      margin-top: 500px;
    }
    .parts title
    {
      font-size: 26px;
      text-align: center;
      
    }
    .parts_desc p

    {
      font-size: 16px;
    }
    .parts_row
    {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .part_item
    {
      margin: 0 auto 20px;
    }
    .part_item_desc p
    {
      margin-top: 10px;
      min-height: 45px;
    }
    .sales_box
    {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .two
  {
    margin-top: 20px;
  }
  .sales_box{
    gap: 5px;
    padding: 15px;
  }
  .sales_box_reverse
  {
    -webkit-box-orient:vertical;
      -webkit-box-direction:reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .sales_img
  {
    max-width: 350px;
    margin: 10px auto ;
  }
  .sales_content
  {
    margin-top: 10px;
    
  }
  .sales_content_title
  {
    font-size: 26px;
    text-align: center;
  }
  .sales_content_desc
  {
    text-align: center;

  }
  .sales_content .btn
  {
    margin: 10px auto;
  }
  .ch
  {
      margin-top: 20px;
  }

  .footer_iner
  {
    -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    padding: 15px;
    align-items:center;
    text-align: center;
  }
  .logo
  {
    width: 180px;
    height: 50px;
    margin: 0 auto;
  }
  .footer_desc span
  {
    font-size: 13px;
    
  }
  .decor.modal
  {
    width: 340px;
    height: 500px;
   
  }
  .form-inner.modal
  {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 480px;
    align-items: center;
  }


  .blur{
    padding-left:  15px;
    padding-right:  15px;
  }
 
  .modal_ok
  {
    height: 550px;
  }
  .border{
    height: 540px;
    padding: 10px;
  }
  .modal_ok img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    z-index: 1;
}


.modal_ok_title {
   
    padding-top: 21px;
}
.modal_ok_title h1 {
  font-size: 25px;
}
.modal_ok_desc {
  margin-top: 10px;
  font-size: 17px;
}
.modal_ok_desc2 {
  text-align: center;
  margin-top: 10px;
}

.modal_ok_desc2 a {
    
    font-size: 19px;
    
}
.modal_ok_desc2 a:hover {
    
  font-size: 19px;
  
}
.area 
{ 
  margin-top: 10px;
}
.line {
  
  
    width: 130px;
    height: 130px;
  
  opacity: 0.7;
 
}
.line img {
  
width: 100%;
height: 100%;
object-fit: cover;
 
}










  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  .img_center1
  {
    width: 330px;
    height: 200px;
    border-radius:25px;
    background-image:url(../images/2imgvideo.png);
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    align-items:center;
    justify-content: center;
  }
  .plug
  {
   
    width: 120px;
    height: 120px;
  }
  .wrapper_content
  {
    width: 100%;
    overflow-x: hidden;
  }
  


